/* GOOGLE FONTS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400);
@import url(http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300);


/* Global properties ======================================================== */
a[href^="tel:"] { color: inherit; text-decoration: none;}
::selection{ background:#888888!important; color:#fff}
::-moz-selection{ background:#888888!important; color:#fff}

a{ color:#606060; text-decoration: underline; outline:none}
a:hover{ color:#ef1165; text-decoration: none; outline:none}

body{ background:#fff; border:0; font: 14px 'Open Sans', Arial, Helvetica, sans-serif; color:#606060 ; line-height:22px; min-width:320px;}

.container { position: relative; min-width: 320px;}

#main{margin: 0 auto; position: relative; overflow: hidden;}

/* Page Animated item Styles */
.animated {
  visibility: hidden;
}

.visible {
visibility: visible;
}

/* ============================= header ====================== */
#top1{width: 100%; position: relative; left: 0; top: 0; /*z-index: 99;*/ min-width: 320px;}

.top1_wrapper{background: #000; padding-top: 45px; padding-bottom: 40px;}

.top1{}

header{position: relative; float: left;}
.logo_wrapper{}

#top2-sticky-wrapper{}

#top2{position: relative; z-index: 40;}

.top2_wrapper{background: #ef1165;}




.social_wrapper{float: right; line-height: 1; padding-top: 10px; padding-bottom: 10px; line-height: 0;}

.social{ display: inline-block; margin: 0; padding: 0px 0; list-style: none;}
.social li{display: inline-block; margin: 0 1px; width: 50px; float: left;}
.social li a{display: block; text-decoration: none; font-size: 20px; color: #fff; line-height: 50px; text-align: center;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.social li a:hover{color: #fff; background: #000; background: rgba(0, 0, 0, 0.8);}









/* ============================= content ====================== */

#content{position: relative;}


#home{position: relative; overflow: hidden;}

#about{background: #f3f3f3; padding-top: 80px; padding-bottom: 110px;}

.banner1{padding-top: 25px;}
.banner1 a{display: block; border: 8px solid #353535; text-decoration: none; background: url(../images/banner1.jpg) left top no-repeat #fff; min-height: 170px; text-align: right; padding-right: 20px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner1 a:hover{border-color: #ef1165;}
.banner1 a .txt1{font-weight: 700; font-size: 20px; line-height: 1; color: #ef1165; padding-bottom: 5px; text-transform: uppercase; padding-top: 15px;}
.banner1 a .txt2{font-weight: 400; font-size: 14px; line-height: 22px; color: #272727; padding-bottom: 5px;}
.banner1 a .txt3{font-weight: 400; font-size: 14px; line-height: 22px; color: #272727; padding-bottom: 0px; text-transform: uppercase; text-decoration: underline;}
.banner1 a:hover .txt3{text-decoration: none;}

.team1{position: relative; text-align: center;color: #272727; margin-bottom: 25px;}
.team1 .team1_link{position: relative; padding-bottom: 20px;}
.team1 .team1_link a{display: block; text-decoration: none;}
.team1 .team1_link a img {width: 100%;}
.team1 .team1_link a .img1{position: relative;}
.team1 .team1_link a .img2{position: absolute; left: 0; top: 0; opacity: 0; filter: alpha(opacity=0);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.team1 .team1_link a:hover .img2{opacity: 1; filter: alpha(opacity=100);}

.team1 .txt1{font-weight: 700; text-transform: uppercase; font-size: 18px; line-height: 1.1; position: relative; padding-bottom: 15px; margin-bottom: 10px;}
.team1 .txt1:after{content: ''; display: inline-block; width: 60px; height: 3px; background: #ef1165; position: absolute; left: 50%; margin-left: -30px; bottom: 0; }
.team1 .txt2{font-size: 18px; line-height: 1.1; font-weight: 300; padding-bottom: 20px;}

.team1_social_wrapper{text-align: center; padding-top: 10px;}

.team1_social{ display: inline-block; margin: 0; padding: 0px 0; list-style: none;}
.team1_social li{display: inline-block; margin: 5px;}
.team1_social li a{display: block; text-decoration: none; font-size: 20px; color: #dddddd; line-height: 20px; text-align: center; padding: 5px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.team1_social li a:hover{color: #272727;}

.services1{position: relative; text-align: center;color: #fff; margin-bottom: 25px;}
.services1 a{display: block; text-decoration: none;}
.services1 a .services1_img{border: 1px solid #fff;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.services1 a:hover .services1_img{ border-color: #e01461;}
.services1 a .services1_img img{margin-left: auto; margin-right: auto;}
.services1 a .txt1{padding-top: 15px; padding-bottom: 15px; font-weight: 300; text-transform: uppercase; font-size: 18px; color: #fff; border-bottom: 2px solid transparent;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.services1 a:hover .txt1{border-color: #fff;}

#prices{background: #fff; padding-top: 80px; padding-bottom: 110px;}

.table1{margin-bottom: 0;}

.table1 tbody tr td{background: #f3f3f3; border: 1px solid #fff; color: #272727;font-size: 16px; font-weight: 700; padding: 20px; vertical-align: middle;}
.table1 tbody tr td + td{text-align: center;  font-weight: 400;}

.table1 tbody tr:nth-child(even) td{background: #f7f7f7;}

#testimonials{}

.testimonials_prev, .testimonials_next {display: block; width: 72px; height: 72px; position: absolute; left: 0; top: 50%; margin-top: -36px; background: #000; background: rgba(0, 0, 0, 0.4); z-index: 2;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;}

.testimonials_prev:after{content: ''; display: block; width: 100%; height: 100%; background: url(../images/prev.png) center center no-repeat;opacity: 0.5; filter: alpha(opacity=50);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}

.testimonials_prev:hover{background: #ef1165;}
.testimonials_prev:after{opacity: 1; filter: alpha(opacity=100);}

.testimonials_next{left: auto; right: 0;}
.testimonials_next:after{content: ''; display: block; width: 100%; height: 100%; background: url(../images/next.png) center center no-repeat;opacity: 0.5; filter: alpha(opacity=50);
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.testimonials_next:hover{background: #ef1165;}
.testimonials_next:hover:after{opacity: 1; filter: alpha(opacity=100);}



#testimonials .carousel-box{position: relative;}
#testimonials .carousel-box .inner{position: relative; overflow: hidden; max-width: none; margin: 0;}
#testimonials .carousel.main{position: relative; overflow: hidden; margin: 0; padding: 0;margin-right: -30px; }
#testimonials .caroufredsel_wrapper{padding: 0; margin: 0;}
#testimonials .caroufredsel_wrapper ul{padding: 0; margin: 0;}
#testimonials .carousel-box ul li { float:left; display: inline-block; padding:0px 0px 0px 0px; position:relative; width:300px; overflow:hidden; padding-right:30px }

.testimonials{}
.testimonials .testimonials_inner{color: #f3f3f3; text-align: center; padding-top: 80px; background: url(../images/kand2.png) center top no-repeat; padding-left: 10%; padding-right: 10%;}
.testimonials .testimonials_inner .txt1{font-weight: 400; font-size: 24px; line-height: 1.5; font-style: italic; padding-bottom: 25px;}
.testimonials .testimonials_inner .txt2{font-weight: 700; font-size: 18px; line-height: 1.1; text-transform: uppercase;}

#gallery{background: #fff; padding-top: 80px; padding-bottom: 10px;}

#contacts{background: #fff; padding-top: 80px; padding-bottom: 110px;}

#google_map{position: relative;}
.google_map{width: 100%; position: relative; overflow: hidden; margin: 0; padding: 0px; background: #fff; border: none; line-height: 1px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}
.google_map iframe{position: relative; overflow: hidden; width: 100%; height: 460px; border: none; background: #fff; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;line-height: 0;}

.breadcrumbs1_wrapper{background: #f3f3f3; padding: 15px 0;}

.breadcrumbs1{padding: 0; margin-top: 0px; font-weight: 400; line-height: 20px; color: #272727; font-size: 14px; background: none; text-transform: uppercase;}
.breadcrumbs1 a{color: #272727; text-decoration: underline;}
.breadcrumbs1 a:hover{color: #272727; text-decoration: none;}
.breadcrumbs1 span{display: inline-block; width: 8px; height: 13px; background: url(../images/breadcrumbs1.png) 0 0 no-repeat; margin: 0 10px;}


/* ============================= footer ====================== */
#bot1{background: #000; padding-top: 80px; padding-bottom: 70px;}

.logo2_wrapper{float: left;}

.logo2{display: inline-block;}

.social2_wrapper{float: right; line-height: 1; padding-top: 0px; line-height: 0;}

.social2{ display: inline-block; margin: 0; padding: 0px 0; list-style: none;}
.social2 li{display: inline-block; margin: 0 1px; width: 50px; float: left;}
.social2 li a{display: block; text-decoration: none; font-size: 20px; color: #fff; line-height: 50px; text-align: center;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.social2 li a:hover{color: #fff; background: #ef1165;}

#bot2{background: #ef1165; padding: 30px 0px; color: #fff; font-size: 12px;}
#bot2 a{color: #fff;}
#bot2 a:hover{color: #fff;}



/* ============================= parallax ====================== */
.parallax {width: 100%; position: relative; overflow: hidden; background: none; }
.parallax, .parallax .parallax-content, .parallax .overlay { height: 100%;}

.parallax-bg { width: 100%; height: 100%; left: 0; top: 0; margin: 0 auto; position: absolute; background-size: cover; background-attachment: scroll; background-repeat: repeat-y; background-position: center center; }
.parallax-bg.bg-fixed{background-attachment: fixed;}
.parallax .overlay { background: none; width: 100%; position: absolute; overflow: hidden; background: none;}
.parallax .container { }
.parallax-content { padding-top: 0px; padding-bottom: 0px; }




.bg1 { background-image: url(../images/parallax1.jpg); }

.bg2 { background-image: url(../images/parallax2.jpg); }

.bg3 { background-image: url(../images/parallax3.jpg); }

.bg4 { background-image: url(../images/parallax1.jpg); }


#parallax1{padding-top: 80px; padding-bottom: 90px;color: #ffffff;text-align: center;}

#parallax2{padding-top: 80px; padding-bottom: 90px;color: #ffffff;text-align: center;}
#parallax2 h2{color: #fff;}
#parallax2 h4{color: #fff;}

#parallax3{padding-top: 100px; padding-bottom: 100px;color: #ffffff;text-align: center;}

#parallax4{padding-top: 80px; padding-bottom: 90px;}















/* ============================= main menu ====================== */
.navbar_ { margin: 0; padding: 0; background: none; border:none; position: relative;z-index: 30; min-height: 0; float: left;}
.navbar_ .navbar-toggle { background: #300314; border: none;box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-top: 9px; margin-bottom: 9px; margin-right: 5px;}
.navbar_ .navbar-toggle:hover, .navbar_ .navbar-toggle:focus{background: #000;}
.navbar_ .navbar-toggle .icon-bar{background: #fff;}
.navbar-collapse_{padding-left: 0; padding-right: 0; border: none;}
.navbar_ .nav{position: relative; margin: 0; padding: 0; display: block; float: none;}
.navbar_ .nav > li{position: relative; display: block; float: left; white-space: nowrap; background: none;background: none; margin-right: 1px;}
.navbar_ .nav > li:first-child{margin-left: 0;}
.navbar_ .nav > li > a{display: block; text-decoration: none; background: none; font-family: 'Open Sans'; font-weight: 300; font-size: 18px; line-height: 70px; color: #fff; text-shadow:none; padding: 0px 34px; border: none; margin: 0; text-align: center; position: relative; z-index: 2; text-transform: uppercase;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}

.navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover, .navbar_ .nav > li.active > a, .navbar_ .nav > li.active > a:hover, .navbar_ .nav > li.active > a:focus{color: #fff; text-decoration: none; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; border-radius:0; -moz-border-radius:0; -webkit-border-radius:0; background: #000; background: rgba(0, 0, 0, 0.8);}

.navbar_ .nav > li > a em{display: inline-block; width: 10px; height: 6px; background: url(../images/caret1.png); position: absolute; left: 50%; margin-left: -5px; bottom: 10px;}




.sub-menu ul{ position: absolute; display: none; left: 0; top: 100%; list-style: none; zoom: 1; z-index: 1; margin: 0; padding:20px 30px; background: #000; background: rgba(0, 0, 0, 0.9); text-align: left; border: none;}
.sub-menu li{ margin: 0; position: relative; zoom: 1; display: block;}
.sub-menu li:first-child{border-top: none;}
.sub-menu li a{display: block; position: relative; font-family:'Open Sans'; font-weight: 400; font-size: 14px; line-height: 20px; color: #d4d4d4; text-decoration: none; padding: 2px 15px 2px 0px; background: none; text-transform: uppercase;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.sub-menu li a:hover{ text-decoration: none; color: #fff; }




.sub-menu-1 > ul{}

.sub-menu-2 > ul{left: 100%; top: -1px; margin-left: 0px; background: #fff;}




/* ============================= search-form ====================== */
.search-form-wrapper{padding-top: 50px; float: right; width: 270px;}
.navbar-form { float: none; position:relative; z-index: 11; margin:0px 0px 0 0 ; padding: 0; position: relative;}
.navbar-form:before{content: ''; display: inline-block; width: 1px; height: 4px; background: #4d4d4d; position: absolute; left: 0; bottom: 1px;}
.navbar-form:after{content: ''; display: inline-block; width: 1px; height: 4px; background: #4d4d4d; position: absolute; right: 0; bottom: 1px;}
.navbar-form input {outline: none; width: 100%; height: auto; font-size: 14px; line-height: 20px; color:#575757; background: none; border: none; border-bottom: 1px solid #4d4d4d; margin: 0; padding: 5px 75px 5px 10px; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;}
.navbar-form input:focus {color: #fff; background: none; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;}
.navbar-form a {text-decoration: none; margin: 0; display: inline-block; background: none; position:absolute; right:10px; bottom: 1px; color: #fff; font-size: 14px; text-transform: uppercase; font-weight: 700; line-height: 30px;text-align: center;}
.navbar-form a:hover { background: none; color: #ef1165;}

/* ============================= toTop ====================== */
#toTop { display:none; text-decoration:none; position:fixed; bottom:10px; right:10px; z-index: 1000; overflow:hidden; width:50px; height:50px; border:none; text-indent:100%; background:url(../images/totop.gif) no-repeat left top; }
#toTopHover { background:url(../images/totop.gif) no-repeat left bottom; width:50px; height:50px; display:block; overflow:hidden; float:left; opacity: 0; -moz-opacity: 0; filter:alpha(opacity=0); }
#toTop:active, #toTop:focus { outline:none; }


/* ============================= main layout ====================== */
.page_title{padding-top: 30px; padding-bottom: 30px; margin-bottom: 30px; text-align: center; background: url(../images/h2.png) center bottom no-repeat; font-size: 28px; line-height: 28px; font-family: 'Asap'; font-weight: 700; letter-spacing: 4px; text-transform: uppercase; color: #709f00;}

.page_title2{font-size: 28px; line-height: 28px; color: #636363; padding-top: 30px; padding-bottom: 30px;}

h1{display: block; font-family:'Asap'; font-weight:700; font-size:56px; color:#fff; line-height:56px; padding:0px 0  0px 0; margin: 0 0 0px; text-transform: uppercase;}

h2{display: block; font-family:'Open Sans'; font-weight:300; font-size:40px; color:#272727; line-height:1.1; padding:30px 0  30px 0; margin: 0; background: url(../images/kand1.png) center bottom no-repeat; text-transform: uppercase; text-align: center;}
h2.mar{margin-bottom: 50px;}

.not-front h2{display: block; font-family:'Open Sans'; font-weight:300; font-size:40px; color:#272727; line-height:1.1; padding:30px 0  30px 0; margin: 0; background: none; text-transform: uppercase; text-align: left; position: relative; margin-bottom: 10px;}
.not-front h2:after{content: ''; display: block; width: 100px; height: 1px; position: absolute;left: 0; bottom: 0; background: #ef1165;}

h3{display: block; font-family:'Open Sans'; font-weight:700; font-size:30px; color:#272727; line-height:1.1; padding:25px 0  20px 0; margin: 0 0 0px; text-transform: uppercase;}

h4{display: block; font-family:'Open Sans'; font-weight:300; font-size:20px; color:#272727; line-height:1.1; padding:20px 0  40px 0; margin: 0; text-transform: uppercase; text-align: center;}

h5{display: block; font-family:'Open Sans'; font-weight:700; font-size:16px; color:#272727; line-height:1.1; padding:0px 0  20px 0; margin: 0 0 0px; text-transform: uppercase;}

h6{display: block; font-family:'Open Sans'; font-weight:700; font-size:20px; color:#272727; line-height:1.1; padding:0px 0  20px 0; margin: 0 0 0px; text-transform: uppercase;}





.hl1{border-bottom: 1px solid #dddddd; padding-top: 35px; margin-bottom: 25px;}












.img-responsive-old{display: block; max-width: 100%; height: auto;}

.img-responsive{width: auto \9;}

.border-box{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}





/* === */
.zuoye{display: none;list-style: none;padding-left: 0;}
.zuoye a{color: #fff;text-decoration: none;}
.zuoye li{line-height: 40px;border-bottom: dotted 1px #000;padding-left: 20px;}
.logo_wrapper:hover .zuoye{display: block;width: 100%;min-height:200px;background: rgba(255, 255, 255, 0.8);}
.phone_ic{font-size: 14px; line-height: 20px; text-transform: uppercase; font-weight: 700; padding-bottom: 5px;}
.phone_ic i{float: left; padding-right: 10px; color: #ef1165; font-size: 16px; line-height: 20px;}
.phone_ic span{display: table;}
.email_ic{font-size: 14px; line-height: 20px; padding-bottom: 0px;}
.email_ic i{float: left; padding-right: 10px; color: #ef1165; font-size: 16px; line-height: 20px;}
.email_ic span{display: table;}

.links_block{padding-bottom: 40px;}

.ul1{ padding: 0; margin: 0; list-style: none;}
.ul1 > li {font-size: 14px; font-weight: 400; line-height: 20px; color: #000000; text-transform: uppercase;}
.ul1 > li a{color:#000000; text-decoration: none; display: block; padding: 5px 0px 5px 25px; background: url(../images/li_st1.png) left center no-repeat;}
.ul1 > li a:hover{color:#ef1165; text-decoration: underline;}

.block1{background: #f0f0f0; padding: 4px; margin-top: 30px;}

.block1_title{padding: 20px; line-height: 20px; font-size: 18px; font-weight: 700; color: #000000; text-transform: uppercase;}

.ul2{ padding: 0; margin: 0; list-style: none; border: 1px solid #dbdbdb;}
.ul2 > li {font-size: 16px; font-weight: 400; line-height: 20px; color: #000000; text-transform: uppercase; border-top: 1px solid #dbdbdb;}
.ul2 > li:first-child{border: none;}
.ul2 > li a{color:#000000; text-decoration: none; display: block; padding: 12px 10px 12px 40px; background: url(../images/li_st1.png) 15px center no-repeat; background-color: #fff;}
.ul2 > li a:hover{color:#ef1165; text-decoration: none; background-color: #f0f0f0;}

.banner2{padding-top: 25px;}
.banner2 a{display: block; border: 8px solid #353535; text-decoration: none; background: url(../images/banner1.jpg) left top no-repeat #fff; min-height: 170px; text-align: right; padding-right: 20px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.banner2 a:hover{border-color: #ef1165;}
.banner2 a .txt1{font-weight: 700; font-size: 20px; line-height: 1; color: #ef1165; padding-bottom: 5px; text-transform: uppercase; padding-top: 65px;}
.banner2 a .txt2{font-weight: 400; font-size: 14px; line-height: 22px; color: #272727; padding-bottom: 5px;}
.banner2 a .txt3{font-weight: 400; font-size: 14px; line-height: 22px; color: #272727; padding-bottom: 0px; text-transform: uppercase; text-decoration: underline;}
.banner2 a:hover .txt3{text-decoration: none;}



/*-----btn-----*/
.bt1_wrapper{text-align: center; padding-top: 20px;}

.btn-default.btn1{font-family: 'Asap'; display: inline-block; background: none; color: #b7cc05; border: 4px solid #b7cc05; font-size: 20px; line-height: 20px; font-weight: 700; padding: 18px 40px; text-decoration: none;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; margin-top: 0px; margin-bottom: 0px; text-transform: uppercase; letter-spacing: 4px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn1:hover{color: #fff; background: #b7cc05;}

.btn-default.btn2{font-family: 'Asap'; display: inline-block; background: #f0f0f0; color: #636363; font-size: 14px; line-height: 20px; font-weight: 400; padding: 7px 20px; text-decoration: none;border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; margin-top: 10px; margin-bottom: 10px; text-transform: uppercase; letter-spacing: 0px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn2:hover{color: #fff; background: #d67556;}








/* ============================= thumbnail ====================== */
.img-polaroid{position: relative; padding: 0px; background: none; border: none;box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none;}

.thumbnail .caption{padding: 0; color: inherit;}

.thumb1 {margin-bottom: 0px; margin-top: 0px;}
.thumb1.last {margin-bottom: 0px;}
.thumb1 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb1 figure{margin: 0; float: none; margin:0px 0px 20px 0px;}
.thumb1 figure img{width: 100%;}
.thumb1 .caption{}

.thumb2 {margin-bottom: 0px;}
.thumb2.last {margin-bottom: 0px;}
.thumb2 .thumbnail{padding: 0; border: none; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; box-shadow: none; moz-box-shadow: none; -webkit-box-shadow: none; margin-bottom: 0; background: none;}
.thumb2 figure{margin: 0; float: left; margin:0px 20px 20px 0px; }
.thumb2 figure img{width: auto;}
.thumb2 .caption{}
















/*================= queryLoader =========================*/
#load {width: 100%;height: 100%;position: fixed;overflow: hidden;z-index: 1001;	background-color: #fff;}
#qLoverlay{background: #fff!important;}
#qLbar{background: #ef1165!important;}
#qLpercentage{color: #ef1165!important; font-family: 'Roboto'; font-weight: 700; font-size: 40px!important; line-height: 1;}



/*================= Contacts =========================*/
#note{ }
.notification_error{ color:#f00; padding-bottom:10px; }
.notification_ok{ text-align: left; padding-bottom:10px; }

#ajax-contact-form .form-group{margin-left: 0; margin-right: 0;}
#ajax-contact-form .form-group label{color: #272727; font-weight: 400;}
#ajax-contact-form .form-control{height: 38px; padding: 8px 12px; font-size: 14px; line-height: 20px; color: #999999; background: #fff;border: 1px solid #ccc;border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;}
#ajax-contact-form .form-control:focus{border-color: #ef1165;   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 17, 101, .6); box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(239, 17, 101, .6);}
#ajax-contact-form textarea.form-control {height: auto;}
#ajax-contact-form .form-group.capthca{float: left; margin-right: 30px;}
#ajax-contact-form .form-group.capthca input{width: 170px;}
#ajax-contact-form .form-group.img{float: left;}
#ajax-contact-form .form-group.img img{width:170px; height:38px;}

.btn-default.btn-cf-submit{display: inline-block; background: none; color: #272727; font-family: 'Open Sans'; font-size: 14px; line-height: 20px; font-weight: 700; padding: 15px 40px; text-decoration: none;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; border: 1px solid #b9b9b9; text-transform: uppercase; letter-spacing: 0px; background: #f1f1f1;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
.btn-default.btn-cf-submit:hover{background: #ef1165; color: #fff; border-color: #ef1165;}



/*----- media queries ------*/
/* Large desktop */
@media (min-width: 1220px) {
 .container { padding: 0; }
}
/* Default landscape and desktop to large desktop */
@media (max-width: 1219px) {
  .navbar_ .nav > li > a{font-size: 16px; padding-left: 20px; padding-right: 20px;}








}
@media (min-width: 992px) and (max-width: 1219px) {




}
/* Portrait tablet to landscape and desktop */
@media (max-width: 991px) {







}
@media (min-width: 768px) and (max-width: 991px) {

  .navbar_ .nav > li > a{font-size: 14px; padding-left: 10px; padding-right: 10px;}

  .social_wrapper{padding-top: 15px; padding-bottom: 15px;}

  .social li{width: 40px;}

  .social li a {line-height: 40px;}








}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

  .search-form-wrapper{display: none;}

  .social_wrapper{display: none;}

  header{text-align: center; float: none; line-height: 0;}

  .logo_wrapper{display: inline-block;}

  .top1_wrapper{padding-top: 15px; padding-bottom: 15px;}



	.navbar_ {float: none; height: 50px; margin-bottom: 0; }
	.navbar-collapse_{clear: both; margin-left: -15px; margin-right: -15px;}
	.navbar_ .nav{display: block; background: none; border-right: none;background: #000; background: rgba(0, 0, 0, 0.9);}
	.navbar_ .nav > li{float: none;background: none; border-left: none; margin-right: 0; border-top:1px solid #4f4f4f; background: none;}
	.navbar_ .nav > li > a{margin-bottom: 0; line-height: 20px; padding-top: 15px; padding-bottom: 15px;}
	.navbar_ .nav > li > a:hover, .navbar_ .nav > li > a:focus, .navbar_ .nav > li.sfHover > a, .navbar_ .nav > li.sfHover > a:hover{color: #fff;}
	.sub-menu ul{position: relative; left: 0; top: 0;}

  .logo2_wrapper{float: none; text-align: center;}

  .social2_wrapper{float: none; margin-top: 20px; text-align: center;}

  #bot2{text-align: center;}

















}
@media (min-width: 481px) and (max-width: 767px) {



}
/* Landscape phones and down */
@media (max-width: 480px) {
  .google_map iframe{height: 240px;}









}